IM Flows/Workflows/DockingStationinventoryemail-75D8CE88-C6DC-EF11-8EEA-002248355DBC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_2138d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_06ce8"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_item_is_created": {
          "recurrence": {
            "interval": 5,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "f068796b-c9ca-4977-a6f5-26981a0c0366"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnNewItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
              "table": "1746a915-62c3-47fe-8e34-2d469c491268"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a60c8e0b-9a01-487d-9d33-a857c67fc6dc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
              "table": "1746a915-62c3-47fe-8e34-2d469c491268",
              "$filter": "Title eq null"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Send_an_email_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "feba3a2a-0abb-48e1-8cd0-5d83e6d45584"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "Gaurav.Sharma@nmrk.com;Saivandana.Unukonda@nmrk.com",
                  "emailMessage/Subject": "Docking Station Inventory Update - Purchase Details",
                  "emailMessage/Body": "<style>\n  body {\n    font-family: Arial, sans-serif;\n    font-size: 16px;\n    line-height: 1.6;\n    color: #333;\n    margin: 20px;\n  }\n  p {\n    margin: 10px 0;\n  }\n  table {\n    width: 100%;\n    border-collapse: collapse;\n    margin-top: 20px;\n  }\n  table, th, td {\n    border: 1px solid #ddd;\n  }\n  th, td {\n    padding: 12px;\n    text-align: left;\n  }\n  th {\n    background-color: #f4f4f4;\n  }\n  td {\n    background-color: #fafafa;\n  }\n</style>\n\n<p>Hi IT Team,</p>\n\n<p>The following purchase details for the docking station have been successfully recorded:</p>\n\n<table cellpadding=\"5\" cellspacing=\"0\">\n  <tbody>\n    <tr>\n      <th>Purchase Date</th>\n      <td>@{item()?['field_1']}</td>\n    </tr>\n    <tr>\n      <th>Invoice Number</th>\n      <td>@{item()?['field_2']}</td>\n    </tr>\n    <tr>\n      <th>Vendor Name</th>\n      <td>@{item()?['field_3']}</td>\n    </tr>\n    <tr>\n      <th>Brand</th>\n      <td>@{item()?['Brand/Value']}</td>\n    </tr>\n    <tr>\n      <th>Model</th>\n      <td>@{item()?['field_4']}</td>\n    </tr>\n<tr>\n      <th>Quantity</th>\n      <td>@{variables('count')}</td>\n    </tr>\n\n    <!-- Serial Numbers Section (Dynamic) -->\n    <tr>\n      <th>Serial Numbers</th>\n      <td>\n        @{if(empty(item()?['MultipleSerialNumbers']), \n           'No serial numbers available.',\n           replace(item()?['MultipleSerialNumbers'], ',', '<br>'))}\n      </td>\n    </tr>\n  </tbody>\n</table>\n\n<p>Please ensure this information is updated in your records. Let me know if you need any additional details.</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc84d405-544b-4c49-af57-0aa552b569d3"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7373e08d-76f4-4af3-8f72-bdacdb9f7df2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "count",
                "type": "integer",
                "value": "@length(split(triggerBody()?['MultipleSerialNumbers'],';'))"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}