IM Flows/Workflows/MouseQuantity-B00C09AC-C6DC-EF11-8EE9-7C1E520CC7B7.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_2138d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_item_is_created": {
          "recurrence": {
            "interval": 5,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "86f59a46-e424-486f-ae78-a27d5da296bf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnNewItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
              "table": "5ba64ba1-b645-4b7a-b973-82ed9487bb09"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c88a6f3c-f006-4465-be95-a2016f9df1e2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Quantity",
                "type": "integer",
                "value": "@int(triggerBody()?['Quantity'])"
              }
            ]
          }
        },
        "Initialize_variable_1": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f849bba2-2a77-41af-8152-27674ba686f0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Counter",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Do_until": {
              "actions": {
                "Create_item": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2f67dddc-b430-4b24-8b0b-48e505887c43"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
                      "table": "5ba64ba1-b645-4b7a-b973-82ed9487bb09",
                      "item/field_1": "@triggerBody()?['field_1']",
                      "item/field_2": "@triggerBody()?['field_2']",
                      "item/PurchaseDate": "@triggerBody()?['PurchaseDate']",
                      "item/Brand": "@triggerBody()?['Brand']",
                      "item/field_4/Value": "@triggerBody()?['field_4/Value']",
                      "item/field_6": "@triggerBody()?['field_6']",
                      "item/field_7/Value": "Yes"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Increment_variable": {
                  "runAfter": {
                    "Create_item": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f98bad98-9bde-4bcf-aa65-47d43e6e082b"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "Counter",
                    "value": 1
                  }
                }
              },
              "runAfter": {},
              "expression": "@equals(variables('Counter'),variables('Quantity'))",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "metadata": {
                "operationMetadataId": "1a7b6bdf-d1f1-4a1e-b4bd-d2e2d9335482"
              },
              "type": "Until"
            },
            "Update_item": {
              "runAfter": {
                "Do_until": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "002b8e66-2007-482f-8f38-4038a6418893"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "PatchItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
                  "table": "5ba64ba1-b645-4b7a-b973-82ed9487bb09",
                  "id": "@triggerBody()?['ID']",
                  "item/field_1": "@triggerBody()?['field_1']",
                  "item/field_2": "@triggerBody()?['field_2']",
                  "item/PurchaseDate": "@triggerBody()?['PurchaseDate']",
                  "item/Brand": "@triggerBody()?['Brand']",
                  "item/field_6": "@triggerBody()?['field_6']",
                  "item/field_7/Value": "Yes",
                  "item/Previousowner": "@triggerBody()?['Previousowner']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_1": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@int(triggerBody()?['Quantity'])",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "34de236b-38de-483d-ab26-a01ef6754be5"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}