IM Flows/Workflows/removingduplicatesfromlenovomonitor-B62AD7D2-C6DC-EF11-8EEA-002248355DBC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_2138d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "recurrence": {
            "interval": 5,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "fb9488b2-cf05-460f-bd90-8482ff41d88e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
              "table": "9bdcf1dd-4eee-4b56-82cc-72b67572a980"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "39a7dad4-8647-4c53-ba73-a075fc5f4bdc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
              "table": "9bdcf1dd-4eee-4b56-82cc-72b67572a980",
              "$filter": "Title eq null"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "For_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Delete_item": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0ba54454-295c-4fe2-b53e-95cc77c28efa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "DeleteItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://ngkfcs.sharepoint.com/teams/EmployeeInformation",
                  "table": "9bdcf1dd-4eee-4b56-82cc-72b67572a980",
                  "id": "@items('For_each')?['ID']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5d250e08-0d5a-4a84-87d6-fa2c6b1d8391"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}